name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install remark
        run: |
          npm install remark-cli remark-preset-lint-consistent

      - name: Auto-fix Markdown emphasis
        run: |
          npx remark . --use remark-preset-lint-consistent --output

      - name: Run markdown lint (warnings will not fail the job)
        run: |
          npx remark . --use remark-preset-lint-consistent

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
